<!doctype html>
<html lang="{{- .Site.Language.Lang -}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ if .IsHome }}
      <!-- Homepage -->
      <title>
        {{ .Site.Params.Description }} -
        {{ .Site.BaseURL }}
      </title>
      {{ if .Site.Params.Description }}
        <meta name="description" content="{{ .Site.Params.description }}" />
      {{ end }}
    {{ else }}
      <!-- Any other Page -->
      <title>{{ .Title }} - {{ .Site.Params.mydomain }}</title>
      {{ if .Description }}
        <meta name="description" content="{{ .Description }}" />
      {{ end }}

    {{ end }}


    <meta
      name="author"
      content="Projektwohnungen Barbara Petersen und Jens-Ole Petersen"
    />

    <!-- old local css  -->
    <!-- <link href="/css/style.css" type="text/css" rel="stylesheet" /> -->

    <!-- styles from sass transpiler -->
    {{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
    {{ with resources.Get "scss/main.scss" | toCSS $opts | minify | fingerprint }}
      <link
        rel="stylesheet"
        href="{{ .RelPermalink }}"
        integrity="{{ .Data.Integrity }}"
        crossorigin="anonymous"
      />
    {{ end }}


    <!-- <link
      rel="icon"
      type="image/x-icon"
      href="/icons/favicon_96_96_apland.ico"
    /> -->

    <!-- <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"
      type="text/css"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    {{ partial "header" . }}
    {{ partial "topnav" . }}
    {{ block "page" . }}
    {{ end }}
    {{ partial "footer" . }}


    <!--  Scripts -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/site.js"></script> -->

    <!-- <script type="text/javascript" src="/js/lightbox.js"></script>
    <link rel="stylesheet" href="/css/lightbox.css" /> -->
  </body>
</html>
