<!doctype html>
<html lang="{{- .Site.Language.Lang -}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Set the title -->
    {{ if .IsHome }}
      <!-- Homepage -->
      <title>
        {{ .Site.Params.Description }} -
        {{ .Site.BaseURL }}
      </title>
      {{ if .Site.Params.Description }}
        <meta name="description" content="{{ .Site.Params.description }}" />
      {{ end }}
    {{ else }}
      <!-- Any other Page -->
      <title>{{ .Title }} - {{ .Site.Params.mydomain }}</title>
      {{ if .Description }}
        <meta name="description" content="{{ .Description }}" />
      {{ end }}

    {{ end }}


    <!-- Meta Info -->
    <meta
      name="author"
      content="Projektwohnungen Barbara Petersen und Jens-Ole Petersen"
    />

    <!-- loads the Google Roboto Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <!-- loads the entire Icon Variable Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />

    <!-- styles from sass transpiler -->
    {{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
    {{ with resources.Get "scss/main.scss" | toCSS $opts | minify | fingerprint }}
      <link
        rel="stylesheet"
        href="{{ .RelPermalink }}"
        integrity="{{ .Data.Integrity }}"
        crossorigin="anonymous"
      />
    {{ end }}


    <!-- loads the Favicon  -->
    <link rel="icon" type="image/x-icon" href="/favicon_192_192.png" />
    <link rel="shortcut icon" type="image/png" href="/favicon_192_192.png" />
    <link rel="shortcut icon" sizes="192x192" href="/favicon_192_192.png" />
    <link rel="apple-touch-icon" href="/favicon_192_192.png" />
  </head>

  <!-- <body onload="showAlert()"> -->
  <body>
    {{ partial "header" . }}
    {{ partial "topnav" . }}
    {{ block "page" . }}
    {{ end }}
    {{ partial "footer" . }}


    <!--  Scripts -->
    <!-- LightBox2 -->
    <script src="/js/lightbox2/lightbox-plus-jquery.min.js"></script>
  </body>
</html>
