{{ define "page" }}
  <section id="intro-apartments">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <p>
        {{ .Content }}
      </p>
    </div>
  </section>
  apartments layout huhu
  <section id="boxes">
    <div class="container">
      {{ range .RegularPages }}
        {{ if .Params.imgaleft }}
          <div class="mybox">
            <div class="card-column"><img src="{{ .Params.imgurl }}" /></div>
            <div class="card-column">
              <a href="{{ .Permalink }}"> <h3>{{ .Title }}</h3></a>
              <p>{{ .Content }}</p>
            </div>
          </div>
        {{ else }}
          <div class="mybox">
            <div class="card-column">
              <a href="{{ .Permalink }}"> <h3>{{ .Title }}</h3></a>
              <p>{{ .Content }}</p>
            </div>
            <div class="card-column"><img src="{{ .Params.imgurl }}" /></div>
          </div>
        {{ end }}

      {{ end }}
    </div>
  </section>
{{ end }}
