{{ define "page" }}
  <section id="intro">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <p>
        {{ .Content }}
      </p>
    </div>

    <!-- Homepage Cards -->
    <div class="container">
      {{ with .Site.GetPage "/homepageCards" }}
        <div class="cardGrid-container">
          {{ range .Data.Pages }}
            <div class="cardGrid-card">
              <!-- <p>imgGoesHere: {{ .Params.imgurl }}</p> -->
              {{ with .Resources.GetMatch "*.jpg" }}
                {{ with .Fill "500x200" }}
                  <img src="{{ .RelPermalink }}" style="width: 100%" />
                {{ end }}
              {{ end }}
              <div class="cardGrid-text">
                <h4>{{ .Title }}</h4>
                <p>{{ .Content }}</p>
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>

    <br />
  </section>

  <!-- <section id="newsletter">
    <div class="container">
      <h1>Aktuell verfügbare Wohnungen: Subscribe to our Newsletter</h1>
      <form>
        <input type="email" placeholder="Enter email" />
        <button type="submit" class="button_1"><span>Subscribe</span></button>
      </form>
    </div>
  </section> -->

  <section id="FreeApartmentList">
    <div class="container">
      <h2>{{ T "availableApartments" }}</h2>
      {{ with .Site.GetPage "/apartments" }}
        {{ $availCollection := where .Pages ".Params.available" "eq" true }}
        {{ if gt ($availCollection |len) 0 }}
          {{ range $availCollection }}
            {{ partial "apartmentListItem" . }}
          {{ end }}
        {{ else }}
          <p>{{ T "noApartmentsAvailable" }}</p>
        {{ end }}
      {{ end }}
    </div>
  </section>
  <div class="container"><br />{{ partial "contactUsButton" . }}</div>
{{ end }}
