{{ define "page" }}
  <section id="intro">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <p>
        {{ .Content }}
      </p>
    </div>
  </section>

  <section id="newsletter">
    <div class="container">
      <h1>Aktuell verfügbare Wohnungen: Subscribe to our Newsletter</h1>
      <form>
        <input type="email" placeholder="Enter email" />
        <button type="submit" class="button_1"><span>Subscribe</span></button>
      </form>
    </div>
  </section>

  <section id="boxes">
    <div class="container">
      {{ with .Site.GetPage "/apartments" }}
        {{ $availCollection := where .Pages ".Params.available" "eq" true }}
        {{ if gt ($availCollection |len) 0 }}
          {{ range $availCollection }}
            <div class="box">
              <h3>{{ .Title }}</h3>

              <!-- <p>{{ .Content }}</p> -->
            </div>
          {{ end }}
        {{ else }}
          <p>Keine Wohnungen verfügbar.</p>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
